body {
  background: url(img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Exo',sans-serif;
  font-size: 24px;
  color: #3E3B3C;
}

.thumbnail_list img {
  height: 8%;
  width: 8%;
  padding: 8px;
}

button {
  background: url(img/rightarrow.png) no-repeat center;
  background-color: transparent;
  background-size: cover;
  color: transparent;
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
  border: none;
}

.show_previous {
  background: url(img/rightarrow.png);
  background-color: transparent;
  background-size: cover;
  transform: rotate(180deg);
}

.current_thumbnail {
  border: 3px solid #007acc;
  border-radius: 20px;
  background-color: grey;
}

button:focus {
    outline: none;
}
