body {
  background: linear-gradient(to bottom, #ffffff 50px, #f6f6f6 150px);
  margin: 0;
  display: flex;
  min-height: 100vh;
  height: 100%;
  font-family: sans-serif;
}

h1, h2 {
font-family: serif;
font-weight: normal;
margin: 0;
border-bottom: 1px solid #aaaaaa;
overflow: hidden;
}

h1 {
  font-size: 28.8px;
}

p {
  font-size: 0.9em;
}

a {
  color: rgb(6, 69, 173);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-container {
  order: 1;
  width: 100%;
}

.main-sidebar {
  width: 176px;
  order: 0;
  flex: 0 0 auto;
}

.main-header {
  height: 80px;
  position: relative;
  font-size: 12px;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-content {
  border-bottom: 1px solid #a7d7f9;
  border-left:1px solid #a7d7f9;
  border-top: 1px solid #a7d7f9;
  background: #ffffff;
  padding: 16px;
}

.main-header nav, .search {
  position: absolute;
}

.user-menu {
  right: 0;
  top: 0;
}

.user-menu a {
  padding: 10px 5px;
  display: block;
}

.talk-menu {
  bottom: 0;
  left: 0;
}

.tab {
  background: linear-gradient(to bottom, #ffffff 0%, #A7D7F9 100%);
  padding-left: 1px;
}

.tab li {
  padding-right: 1px;
}

.tab a {
  background: linear-gradient(to bottom, #ffffff 0%, #E8F2F8 100%);
  display: block;
  padding: 15px 5px 5px 5px;
  position: relative;
  bottom: -1px;
}

.active-tab a {
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
  color: black;
}

.search {
  bottom: 5px;
  right: 5px;
}

.search input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 290px;
}

input[type="search"] {
  width 290px;
  background: linear-gradient(to bottom, #f6f6f6 0px, #fff 90%);
  border: 1px solid #aaa;
}

input[type="submit"] {
  width: 30px;
  border: none;
  background: url(../img/search-ltr.svg) no-repeat center;
  cursor: pointer;
}

form {
  width: 320px;
}

label, input {
  width: 100%;
  line-height: 1.6;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  padding: .3em .3em .3em .6em;
  display: block;
  vertical-align: middle;
}

span {
  float: right;
  text-decoration: underline;
  color: #0645ad;
}

span:hover {
  text-decoration: underline;
}

.createaccount {
  background: #00af89;
  color: #fff;
  border: 1px solid #00af89;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  font-weight: bold;
}

.createaccount:hover {
  background-color: #008c6d ;
  cursor: pointer;
  }

::-webkit-input-placeholder {
  font-style: italic;
  line-height: 1.2;
}

.editpage {
  line-height: 1.6;
  font-size: 0.875em;
}

.captcha-box {
  background-color: #f8f8f8;
  border: 1px solid #c9c9c9;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}


.refreshcaptcha {
  font-size: smaller;
  margin: 0 0 0 3px;
  padding: 1px 2px 1px 12px;
  color: #0645AD;
  cursor: pointer;
}

.captcha-image-png {
  vertical-align: middle;
}

.madebypeople {
  float: left;
  display: block;
}

.main-container input:focus{
  border-color: #347bff;
  box-shadow: inset 0 0 0;
  outline: 0;
}

:focus {
  outline: 0;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer {
  height: 150px;
}

.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../img/logo.png);
  margin: 6px auto 0;
  color: rgba(0, 0, 0, 0);
}

.main-sidebar {
  font-size: 0.9em;
  padding-top: 5px;

}

.main-sidebar h3 {
  font-size: 0.9em;
  padding-left: 22px;
  font-weight: normal;
  color: #4d4d4d;
  margin-bottom: 0;
  margin-top: 3px;
}

.main-sidebar ul {
  font-size: 0.9em;
  list-style: none;
  padding-left: 22px;
  margin-top: 10px;
}

.sidebar-border {
  height: 1px;
  background: linear-gradient(to right, #fff 0%, #A8A8A8 50%, #fff 100%);
}

.interaction li,
.tools li {
  padding-left: 14px;
}

.interaction ul,
.tools ul {
  margin-top: 0;
}
