  body {
        margin: 0;
        font font-family: arial;
        }


  img {
      width:100%;
      height: auto;
      }


article {
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        }


    h1 {
        font-family: Lato;
        font-weight: 900;
        font-size: 36px;
        text-align:center;
        margin-bottom:0;
        color: #444;
        }

  h2    {
        font-family: Lato;
        font-weight: 300;
        font size: 32px;
        text-align:center;
        margin-top:0;
        margin-bottom:40px;
        color: #999;
        }

h1,h2 {
      font-family: Lato;
      }

p {font-family: Merriweather;
  color: #444;
  line-height: 1.5;
  }


a {
  color:#444;
  }

a:hover {
        color:#999;
        }
